body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    overflow: hidden;
}
.header-area{
    display: flex;
    padding-top: 4%;
    overflow: hidden;
}
.header-left{
    width: 50%;
    margin-left: 7%;
    margin-top: 50px;
    overflow: hidden;
}
#border-area{
    width: 5px;
    border-right: 4px solid red;
    float: left;
    height: 114px;
    margin-top: 19px;
}
.focused-area h1{
    margin: 0;
    font-size: 50px;
}
.header-right{
    width: 50%;
    margin-left: 120px;
}
#header-img{
    width: 70%;
    height: 500px;
}
.focused-area{
    padding-left: 4%;
}
.orange{
    color: orange;
}
.header-left a{
    text-decoration: none;
    background: #ff5959;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
#scroll-down{
    margin-top: 35px;
}
.second-area{
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 10%;
}
.illustrator-area{
    width: 25%;
    margin-left: 2%;
    padding: 15px;
    border-radius: 20px;
}
.illustrator-img{
    width: 35%;
    height: 150px;
}
#mission-background{
    background: #edf5f6;
}
#vission-background{
    background: #ffeeee;
}
#goal-background{
    background: #fff4d6;
}
.my-mission{
    text-align: center;
    font-size: 40px;
}
.paragraph-font{
    font-size: 15px;
}
.coding-img{
    width: 70%;
    height: 350px;
    margin-left: 20%;
}
.coding-area{
    width: 100%;
    padding-top: 8%;
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 200px;
}
.coding-img-width{
    width: 70%;
}
.coding-dev-width a{
    text-decoration: none;
    background: #ff5959;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.coding-dev-width{
    width: 100%;
    padding-top: 2%;
}
.coding-dev-width h1{
    font-size: 30px;
    font-weight: bold;
}
.coding-dev-width p{
    padding-right: 80px;
}
.global-area{
    display: flex;
    padding: 7%;
}
.global-community{
    width: 60%;
}
.global-community-img{
    width: 40%;
}
.global-community-img img{
    width: 75%;
    margin-left: 40px;
}
.global-community a{
    text-decoration: none;
    background: #ff5959;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.global-community h1{
    font-size: 40px;
    font-weight: bolder;
}
.app-section{
    margin: auto;
}
.appointment-area{
    margin-left: 10%;
    overflow: hidden;
}
.app-img{
    width: 40%;
    float: left;

}
.app-img img{
    width: 100%;
}
.app-details{
    width: 40%;
    overflow: hidden;
    padding-top: 8%;
    padding-left: 5%;
    padding-bottom: 2%;
}
.app-details a{
    text-decoration: none;
    background: #ff5959;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 5px;
}
#d-appointment{
    text-align: center;
    font-size: 50px;
}
.footer-area{
    background: black;
    color: #FFF;
}
.footer-common{
    text-align: center;
    font-family:'Satisfy', cursive;;
}

